.App {
  text-align: center;
  background-color: #282c34;
}
.suggestCities{
  cursor: pointer;
}
.curBody{
  font-variant: small-caps;
}
.curBody b{
  font-weight:900;
}
.suggestCities div:hover{
  background: rgb(236, 234, 234);
  color: black;
}

/* .App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
